<aside class="sidebar">
  <div class="search-box">
    <input type="text" placeholder="Search...">
  </div>

  <div class="categories">
    <h3>Categories</h3>
    <ul>
      <li><a href="#">DevOps</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Cloud</a></li>
      <li><a href="#">Automation</a></li>
    </ul>
  </div>

  <div class="recent-posts">
    <h3>Recent Posts</h3>
    <ul>
      <li><a href="#">Getting Started with Docker</a></li>
      <li><a href="#">CI/CD with Jenkins</a></li>
      <li><a href="#">Intro to Kubernetes</a></li>
    </ul>
  </div>
</aside>
